
{%- macro info() -%}
{{'{{Infobox person'}}
| name               = 
{%- if image!= 'NaN' %}
| image              = {{image}}
{%- endif %}
| birth_date         = {{Birth date and age|YYYY|MM|DD}} <!-- {{Birth date and age|YYYY|MM|DD}} for living people supply only the year with {{Birth year and age|YYYY}} unless the exact date is already widely published, as per [[WP:DOB]]. For people who have died, use {{Birth date|YYYY|MM|DD}}. -->
| birth_place        = 
| baptised           = <!-- will not display if birth_date is entered -->
| disappeared_date   = <!-- {{Disappeared date and age|YYYY|MM|DD|YYYY|MM|DD}} (disappeared date then birth date) -->
| disappeared_place  = 
| disappeared_status = 
| death_date         = <!-- {{Death date and age|YYYY|MM|DD|YYYY|MM|DD}} (enter DEATH date then BIRTH date (e.g., ...|1967|8|31|1908|2|28}} use both this parameter and |birth_date to display the person's date of birth, date of death, and age at death) -->
| death_place        = 
| death_cause        = <!--should only be included when the cause of death has significance for the subject's notability-->
| body_discovered    = 
| resting_place      = 
| resting_place_coordinates = <!-- {{coord|LAT|LONG|type:landmark|display=inline}} -->
| burial_place       = <!-- may be used instead of resting_place and resting_place_coordinates (displays "Burial place" as label) -->
| burial_coordinates = <!-- {{coord|LAT|LONG|type:landmark|display=inline}} -->
| monuments          = 
| nationality        = <!-- use only when necessary per [[WP:INFONAT]] -->
| other_names        = 
| siglum             = 
| citizenship        = <!-- use only when necessary per [[WP:INFONAT]] -->
| education          = 
| alma_mater         = 
| occupation         = 
| years_active       = 
| era                = 
| employer           = 
| organization       = 
| agent              = <!-- Discouraged in most cases, specifically when promotional, and requiring a reliable source -->
| known_for          = 
| notable_works      = <!-- produces label "Notable work"; may be overridden by |credits=, which produces label "Notable credit(s)"; or by |works=, which produces label "Works"; or by |label_name=, which produces label "Label(s)" -->
| style              = 
| height             = <!-- "X cm", "X m" or "X ft Y in" plus optional reference (conversions are automatic) -->
| television         = 
| title              = <!-- Formal/awarded/job title. The parameter |office=may be used as an alternative when the label is better rendered as "Office" (e.g. public office or appointments) -->
| term               = 
| predecessor        = 
| successor          = 
| party              = 
| otherparty         =
| movement           = 
| opponents          = 
| boards             = 
| criminal_charges   = <!-- Criminality parameters should be supported with citations from reliable sources -->
| criminal_penalty   = 
| criminal_status    = 
| spouse             = <!-- Use article title or common name -->
| partner            = <!-- (unmarried long-term partner) -->
| children           = 
| parents            = <!-- overrides mother and father parameters -->
| mother             = <!-- may be used (optionally with father parameter) in place of parents parameter (displays "Parent(s)" as label) -->
| father             = <!-- may be used (optionally with mother parameter) in place of parents parameter (displays "Parent(s)" as label) -->
| relatives          = 
| family             = 
| callsign           = 
| awards             = 
| website            = <!-- {{URL|example.com}} -->
| module             = 
| module2            = 
| module3            = 
| module4            = 
| module5            = 
| module6            = 
| signature          = 
| signature_size     = 
| signature_alt      = 
| footnotes          = 
}}